#{extends "main_list.html"/}
#{set title:"添加权限"/}
%{
	def map = [:]
	map['fields'] = ['form_s','name','sort','menu','form_e']
	map['type']	  = ['text','text','text','text','text']
	map['widths'] = ['50','50','50','100','50']
	map['input'] = [:]
}%
#{form @@create()}
#{table.form map}
#{table.custom 'menu'}
<p><label>&{'role.menu'}</label></p>
#{list menu_p,as:'p'}
<div class="field" style="width: 100%;">
<div style="float:left; width: 80px;padding-left:2px;">
<input type="checkbox" class="p_menu" name="menus" id="${p.cid}" cid="${p.cid}" value="${p.id}"/>${p.name}
</div>
#{list menu_c,as:'c'}
#{if c.pid == p.cid}
<div style="float:left; width: 80px;padding-left:10px;">
<input type="checkbox" class="c_menu" name="menus" id="${c.cid}" cid="${c.cid}" pid="${c.pid}" value="${c.id}"/>${c.name}</div>
#{/if}
#{/list}
</div>
#{/list}
#{/table.custom}
#{/table.form}
#{/form}
<script>
$(function(){
$(".p_menu").click(function(){
	cid = $(this).attr("cid");
	checked = $(this).attr("checked");
	$(".c_menu").each(function(){
		if($(this).attr("pid")==cid){
			$(this).attr("checked",checked);
		}
	});
});
$(".c_menu").click(function(){
	pid = $(this).attr("pid");
	checked = $(this).attr("checked");
	if(checked){
		$("#"+pid).attr("checked",checked);
	}
});
})
</script>